@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #626262;
}

body {
  padding: 0%;
  margin: 0%;
}

*::-webkit-scrollbar {
  width: 4px;
}

/* * ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

* ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}

.ticket-timeline-container .ant-timeline-item-head svg circle {
  color: #fbba00;
}

/* Antd Select */
.antd-select-container {
  width: 100%;
}

.antd-select-container .ant-select {
  width: 100%;
  margin-top: 0.3rem;
}

.antd-select-container .ant-select .ant-select-selector {
  padding: 0.4rem 1rem;
  border: 1px solid #d9d9d9 !important;
  font-size: 1rem;
  border-radius: 4px;
  height: auto;
  outline: none !important;
  box-shadow: none !important;
}

.antd-select-container
  .ant-select
  .ant-select-selector
  .ant-select-selection-item {
  color: #737779;
}

/* Antd Dragger */

.antd-dragger-container {
  width: 100%;
  margin-top: 0.3rem;
}

.antd-dragger-container .ant-upload-drag {
  border: 1px solid #d9d9d9 !important;
  background: #ffffff;
}

.antd-dragger-container .ant-upload-drag .ant-upload-drag-icon {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem !important;
  color: #737779;
}

.antd-dragger-container .ant-upload-drag .ant-upload-text {
  font-size: 0.9rem !important;
  color: #737779 !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
}

/* Antd Table */

.ant-table-container {
  width: 100%;
}

.ant-table-container .ant-table-content table {
  table-layout: auto;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.ant-table-container .ant-table-thead .ant-table-cell {
  background: #f2f2f2;
}
