.loginPageImage {
    margin-left: 10%;
    margin-top: 1%;
}

.loginGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}

.loginLeftGridWrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10% 10%;
}

.loginLeftLogoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginLeftLogoWrapper img {
    width: 4rem;
}

.loginTagline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 3%;
}

.loginFormContainer {
    margin-top: 8%;
}

.loginFormFieldContainer {
    margin-bottom: 7%;
}

.loginFormFieldLabel {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    margin-bottom: 1.5%;
}

.loginFormInputField {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 2% 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    width: 100%;
    background-color: #FFFFFF;
}

.loginForgetPassword {
    margin-top: -5%;
    color: #FBB81B;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    margin-bottom: 4%;
}

.loginFormSubmitBtn {
    padding: 3.5% 5%;
    background: #FBB81B;
    border-radius: 4px;
    border: none;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.loginRightGridWrapper {
    display: flex;
    justify-content: right;
    align-items: center;
}

.loginFormFieldIcons {
    color: #D9D9D9 !important;
    opacity: 0.6;
    align-items: center;
    margin-right: 0.5rem;
}

.loginFormInputField ::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #737779;
}